<h1>Welcome to Upmobility</h1>

<h2>Our Purpose</h2>
<p>
  Lorem ipsum defacto...
</p>
<div>
  <%= link_to 'Skip this process', '#' %>
  <%= link_to 'Continue to LinkedIn', '/linkedin_oauth_url' %>
</div>
