<h1>My Professional Objectives</h1>

<%= form_for @user_basic_profile do |f| %>
  <%= f.label :professional_brand_statement %>
  <%= f.text_field :professional_brand_statement, class: 'form-control', required: true %>
<% end %>
<h3><%= link_to "Next", step_2_path(basic_profile_params) %></h3>
