<h1>My Professional Objectives</h1>

<%= form_for current_user.basic_profile, url: step_1_save_path do |f| %>
  <div class="form-group">
    <%= f.label :professional_brand_statement %>
    <%= f.text_area :professional_brand_statement, class: 'form-control', size: '80x8' %>
  </div>
  <div class="pull-right">
    <%= f.submit "Continue to step 2" %>
  </div>
<% end %>

<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
</button>